@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(254 252 232 / var(--tw-bg-opacity));
}

h1 {
  font-family: freight-big-pro, serif;
  font-weight: 700;
  font-style: italic;
}

h2,
p,
button {
  font-family: aktiv-grotesk-thin, sans-serif;
  font-weight: 200;
  font-style: normal;
}

w-200 {
  width: 50rem;
}

h-200 {
  height: 50rem;
}
